
html, body, #map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

	#searchtext {
		width: 100%;
	}

	#mapWrapper {
		position: absolute;
		top: 52px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

		#map {
			background: #eee;
		}

/*

#header {
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background: #fff;
	height: 52px;
}

#searchtext {
	position: absolute;
	width: auto;
	height: auto;
	margin: 0;
	top: 8px;
	left: 8px;
	right: 52px;
	bottom: 8px;
	font-size: 16px;
}

#result {
	display: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
	position: absolute;
	width: 50%;
	max-width: 494px;
	border-radius: 5px;
	border: solid #CCC 2px;
}

#result ul li,
#result ul {
	margin: 0;
	padding: 0 3px;
	background-color: #EEE;
	list-style:none;
	cursor: pointer;
	cursor: hand;
}

li.selected {
	font-weight: bold;
}
.btn3m {
	position: absolute;
	top: 8px;
	padding: 5px;
}
#btnsearch {
	right: 52px;
}
#btnmarker {
	right: 8px;
}
#search-icon {
	width: 24px;
	height: 24px;
	background: url(images/search.png) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
#marker-icon {
	width: 24px;
	height: 24px;
	background: url(images/marker-icon-red.png) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.active #marker-icon {
	background-image: url(images/marker-icon-grey.png);
}
#footer {
	display: none;
	position: absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:52px;
	text-align: center;
	background: rgba(255,255,255,0.8)
}
#footer.visible {
	display: block;
}
#url {
	margin-top: 8px;
	width: 100%;
	max-width: 800px;
	height:34px;
	font-size: 16px;
}
*/